---
title: I Design System Applicati a workshop by ideato
---

<div class="limit">

    <div class="intro intro--no-height">
        <h1 class="intro__title">I Design System Applicati</h1>
    </div>


    <div class="row  row--2">
        <div class="row__column row__column--no-line-height">
            <h1 class="row__title">15 Marzo 2019, Faenza</h1>

            <br>
            <h3 class="row__title">un workshop realizzato in collaborazione con
                <a href="http://www.ideato.it/?utm_source=cssday" class="link">ideato</a>
            </h3>
        </div>
        <div class="row__column" >
          <p  style="padding-top:20px">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
          </p>
        </div>
    </div>

    <div class="row row--2">
        <p class="row__column">
            I design system sono uno dei temi caldi del momento, il workshop tratterà di come svilupparli nel team e applicarli nei nostri progetti con un approccio frameworkless. La giornata avrà come focus principale le applicazioni web.
        </p>
        <p class="row__column">
            Durante il workshop i partecipanti si divideranno in team e affronteranno un vero e proprio progetto che li porterà ad affrontare non solo i temi tecnici, ma anche quelli culturali e progettuali insiti nei design system.
        </p>
    </div>

    <h2 class="row__title">Programma</h2>

    <div class="row row--1">
        <div class="row__column">
            <p class="row__text">
                <ul>
                    <li>Setup dell'Ambiente</li>
                    <li>Perché un Design System</li>
                    <li>I Design Pattern</li>
                    <li>I Pattern Funzionali e Percettivi</li>
                    <li>Sviluppo e Manutentenzione di Pattern Library</li>
                    <li>Architetture Frameworkless per i Design System</li>
                    <li>Pensare lo Sviluppo di un Pattern in funzione della Manipolazione di DOM</li>
                    <li>Conclusioni</li>
                </ul>
            </p>

            <p class="row__text">
                Il completamento del programma dipende dalla velocità con la quale riusciremo ad affrontare gli argomenti.<br>
            </p>
        </div>

    </div>

    <hr class="hr">

    <div class="row row--2">
        <div class="row__column">
            <h3 class="column__title">A chi è rivolto</h3>
            <p class="row__text">
                Il corso è rivolto indistinatamente a designer, sviluppatori e manager che vogliano applicare i design system al proprio prodotto o progetto.
            </p>
            <p class="row__text">
                <b>Conoscenze e requisiti necessari:</b>
                <ul>
                    <li>Conoscenza base di CSS</li>
                    <li>Computer portatile, Mac OS X o Linux (anche VM)</li>
                </ul>
            </p>
        </div>
        <div class="row__column">
            <h3 class="column__title">Informazioni utili</h3>
            <p class="row__text">
                La durata del corso è di una giornata e
                <b>si terrà il 15 Marzo</b>
                (il giorno prima del CSSDay).
            </p><br>
            <h3 class="column__title">Location</h3>
            <p class="row__text">
Complesso dei Salesiani<br>
Via San Giovanni Bosco n. 1<br>
Faenza (RA)<br>
                <a href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z" target="_blank" class="link">come raggiungerci</a>
            </p>
        </div>

        <p class="row__column">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
        </p>

    </div>

    <hr class="hr">

    <h2 class="row__title">Docenti</h2>

    <div class="flex-row">
        <div class="flex-row__column">
            <div class="workshop-teacher">
                <img class="workshop-teacher__avatar" src="/img/cssday/workshop/alessandro-violini.jpg">
                <div class="workshop-teacher__infos">
                    <div class="workshop-teacher__name">Alessandro Violini</div>
                    <div class="workshop-teacher__social">
                        <a href="https://twitter.com/Violo" class="social social--small icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex-row__column">
            Devoto agli standard web e vittima del "pixel perfect" si occupa della progettazione e sviluppo delle interfacce web e mobile.
            Affascinato dall'interaction design sta dalla parte dell'utente da quando il "responsive" si chiamava "fluido".
            Sostiene che le relazioni tra le persone generino quel valore in più che fa la differenza nei progetti per questo instaurerà con te un buon feeling prima di rilasciarti interfacce e codice.
            Crede nel manifesto agile e quando non è alle prese con il pc probabilmente lo è con un commodore della sua collezione.
            Fan dei pink floyd e amante della musica spolvera regolarmente la sua batteria e ha le gambe sempre pronte per il doppio pedale.
        </p>
    </div>
    <div class="flex-row">
        <div class="flex-row__column">
            <div class="workshop-teacher">
                <img class="workshop-teacher__avatar" src="/img/cssday/workshop/antonio-dell-ava.jpg">
                <div class="workshop-teacher__infos">
                    <div class="workshop-teacher__name">Antonio Dell'Ava</div>
                    <div class="workshop-teacher__social">
                        <a href="https://twitter.com/creativecaos" class="social social--small icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex-row__column">
            Accanito sperimentatore di tutte le tecnologie è alla ricerca della soluzione migliore.
            Nato sulle alpi retiche ha un background da interaction designer ma da sempre ama scrivere codice.
            Si occupa di definire l'interfaccia e svilupparne i comportamenti partendo da una prospettiva user centered.
            È anche un'atleta sempre pronto alla gara.
        </p>
    </div>
    

    <hr class="hr">

    <div class="intro intro--no-height">
        <h1 class="column__title">
            <a href="{{ site.data.tickets.url }}" class="link">Iscriviti ora</a>
            i posti sono limitati</h1>
    </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
