---
title: SASS for BEM development a workshop by ideato
---

<div class="limit">

    <div class="intro intro--no-height">
        <h1 class="intro__title">SASS for BEM development</h1>
    </div>


    <div class="row  row--2">
        <div class="row__column row__column--no-line-height">
            <h1 class="row__title">15 Marzo 2018, Faenza</h1>

            <br>
            <h3 class="row__title">un workshop realizzato in collaborazione con
                <a href="http://www.ideato.it/?utm_source=cssday" class="link">ideato</a>
            </h3>
        </div>
        <div class="row__column" >
          <p  style="padding-top:20px">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
          </p>
        </div>
    </div>

    <div class="row row--2">
        <p class="row__column">
            Un giorno immersi su BEM e come sfruttare al meglio SASS in modo da avere in mano un layout scalabile e dei widget che possono adattarsi a qualsiasi situazione.
        </p>
        <p class="row__column">
            Verrà introdotto BEM, come sfruttare la sua scalabilità e avere tutto sotto controllo, impareremo qualche trucco sul codice SASS per ridurre al minimo la duplicazione.
        </p>
    </div>

    <h2 class="row__title">Programma</h2>

    <div class="row row--1">
        <div class="row__column">
            <p class="row__text">
                <ul>
                    <li>Download del progetto github</li>
                    <li>Introduzione BEM</li>
                    <li>Ragionare a blocchi</li>
                    <li>Dare il nome ai blocchi UI vs Entity</li>
                    <li>Concatenare i blocchi tra loro rispettando gli scopi</li>
                    <li>SASS e mixin per BEM</li>
                    <li>Componenti layout</li>
                    <li>Componenti atomici</li>
                    <li>Casi d'uso ed eccezioni</li>
                </ul>
            </p>

            <p class="row__text">
                Il completamento del programma dipende dalla velocità con la quale riusciremo ad affrontare gli argomenti.<br>
            </p>
        </div>

    </div>

    <hr class="hr">

    <div class="row row--2">
        <div class="row__column">
            <h3 class="column__title">A chi è rivolto</h3>
            <p class="row__text">
                Il corso è rivolto a chi vuole accelerare la sua curva di apprendimento sull’argomento e capire in quali casi è utile utilizzare questo pattern.
            </p>
            <p class="row__text">
                <b>Conoscenze e requisiti necessari:</b>
                <ul>
                    <li>Conoscenza intermedia di CSS</li>
                    <li>Conoscenza base SASS</li>
                    <li>Computer portatile Mac o Windows</li>
                </ul>
            </p>
        </div>
        <div class="row__column">
            <h3 class="column__title">Informazioni utili</h3>
            <p class="row__text">
                La durata del corso è di una giornata e
                <b>si terrà il 15 Marzo</b>
                (il giorno prima del CSSDay).
            </p><br>
            <h3 class="column__title">Location</h3>
            <p class="row__text">
Complesso dei Salesiani<br>
Via San Giovanni Bosco n. 1<br>
Faenza (RA)<br>
                <a href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z" target="_blank" class="link">come raggiungerci</a>
            </p>
        </div>

        <p class="row__column">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
        </p>

    </div>

    <hr class="hr">

    <h2 class="row__title">Docente</h2>

    <div class="flex-row">
        <div class="flex-row__column">
            <div class="workshop-teacher">
                <img class="workshop-teacher__avatar" src="/img/cssday/workshop/vittorio-vittori.png">
                <div class="workshop-teacher__infos">
                    <div class="workshop-teacher__name">Vittorio Vittori</div>
                    <div class="workshop-teacher__social">
                        <a href="https://twitter.com/vttrx" class="social social--small icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex-row__column">
            Ha lavorato nel campo del design cartaceo, industriale, web e del foto ritocco per 10 anni ottenendo vari award come web-designer.
            Con il tempo si è avvicinato ad un approccio sempre più tecnico fino a diventare front-end developer specializzato
            in HTML, CSS, JavaScript.
        </p>
    </div>

    <hr class="hr">

    <div class="intro intro--no-height">
        <h1 class="column__title">
            <a href="{{ site.data.tickets.url }}" class="link">Iscriviti ora</a>
            i posti sono limitati</h1>
    </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
